@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import 'primeicons/primeicons.css';

.p-error {
    display: block;
    @apply text-red-500;
  }
  
.field > * {
width: 100%;
}

body {
  @apply bg-surface-50;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}